{% load apptags i18n %}

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DSM</a>
	    </div>

	    <div id="navbar" class="collapse navbar-collapse">
		    {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    {% if user.is_superuser or user|in_group:"reception" %}
                        <li {% if "tpv"|contains:request.path %} class="active" {% endif %}><a href="{% url "tpv" %}">Tpv</a></li>
                        <li {% if "writstbands"|contains:request.path %} class="active" {% endif %}>
                            <a href="{% url "wristbands" %}">Pulseras</a></li>
                        <li {% if "cash"|contains:request.path %} class="active" {% endif %}><a href="{% url "cash" %}">Cash</a></li>
                        <li {% if "bad_debt"|contains:request.path %} class="active" {% endif %}>
                            <a href="{% url "bad_debt" %}">Impagos</a></li>
						<li {% if "article_payments"|contains:request.path %} class="active" {% endif %}>
							<a href="{% url 'article_payments' %}">Ventas artículos</a></li>
                        <li {% if "assistances"|contains:request.path %} class="active" {% endif %}>
                            <a href="{% url "assistances" %}">Assistances</a></li>
                        <li {% if "no_assistance"|contains:request.path %} class="active" {% endif %}>
                            <a href="{% url "no_assistance" %}">No Assistance</a></li>
                        {% if user.is_superuser %}
                            <li {% if "teachers"|contains:request.path %} class="active" {% endif %}>
                                <a href="{% url "teachers" %}">Teachers</a></li>
                            <li {% if "payments"|contains:request.path %} class="active" {% endif %}>
                                <a href="{% url "payments" %}">Payments</a></li>
                        {% endif %}
                        <li {% if "notifications"|contains:request.path %} class="active" {% endif %}>
                            <a href="{% url "notifications" %}">Notifications</a></li>
						<li {% if "calendar"|contains:request.path %} class="active" {% endif %}>
							<a href="{% url 'events:month' %}">Calendario</a></li>
                        <li {% if "champs"|contains:request.path %} class="active" {% endif %}>
                            <a href="{% url "champs" %}">Campeonatos</a></li>
                        <li {% if "admin"|contains:request.path %} class="active" {% endif %}>
                            <a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    {% if user|in_group:"student" %}
                        <li {% if "profile"|contains:request.path %} class="active" {% endif %}>
                            <a href="{% url "profile" %}">Mi perfil</a></li>
                        <li {% if "champs"|contains:request.path %} class="active" {% endif %}>
                            <a href="{% url "champs" %}">Mis campeonatos</a></li>
                    {% endif %}
                </ul>
                <p class="navbar-text pull-right"> {% trans "Welcome" %} ,<strong> {{ user.username }} </strong>. {% trans "Thanks for logging in" %}. <a href="/logout/"> logout </a> </p>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div><!-- /.container-fluid -->
</nav>
