{% load i18n static utils_tags %}

{% if article_payment_list %}
	<table class="table table-hover">
		<thead>
			<tr> <th>Nombre</th> <th>Fecha del pago</th> <th>Concepto</th> <th> Cantidad</th> <th> Notas </th></tr>
		</thead>
		<tbody>
			{% for st in article_payment_list %}
				<tr>
					<td>{{ st.article.name }}</td>
					<td>{{ st.date|date:"d-m-Y" }}</td>
					<td>{{ st.concept }}</td>
					<td>{{ st.amount }}</td>
					<td>{{st.notes}} </td>
					<td><a href="{% url "delete_article_payment" st.id %}"><img src="{% static "images/delete.png" %}" alt="Borrar" title="Borrar"></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No article are available.</p>
{%	endif %}

