{% load i18n %}

{% for e in enrolment_list %}
	<div class="modal fade" tabindex="-1" role="dialog" id="paymentsModal_{{e.id}}">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{% trans "Pagos del usuario" %} {{e.student.name}}</h4>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<thead>
							<th> Grupo </th>
							<th> Pagado </th>
							<th> Caduca </th>
							<th> Cantidad </th>
						</thead>
						<tbody>
							{% for payment in e.payment_set.all %}
								<tr>
									<td> {{payment.enrolment }}</td>
									<td> {{payment.pay_date|date:"d-m-Y" }}</td>
									<td> {{payment.expire_date|date:"d-m-Y" }}</td>
									<td> {{payment.amount }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endfor %}

