{% extends "base.html" %}

{% load i18n apptags static %}

{% block content %}
	<form method="post" action="{% url "assistances" %}" name="assistances" id="assistances" class=" form form-inline">
		{% csrf_token %}
		<div class="row list-group-item list-group-item-info text-center">
			<div class="col-md-2"> <label for="ini_date">{% trans "Fecha" %}:</label> </div>
			<div class="col-md-4"> <label for="code">{% trans "Profesor" %}:</label> </div>
			<div class="col-md-4"> <label for="name">{% trans "Grupo" %}:</label> </div>
		</div>
		<div class="row list-group-item text-center">
			<div class="col-md-2">
				<input type="text" name="date" id="date" value="{{date|date:"d-m-Y"}}" class="form-control" size="8"/>
			</div>
			<div class="col-md-4">
				<select name="teacher" id="teacher" class="form-control">
					<option value=""> --- </option>
					{% for teacher in teacher_list %}
						<option value="{{ teacher.id }}" {% if current_teacher|add:0 == teacher.id %} selected="selected" {% endif %}> {{ teacher.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-4">
				<select id="group" name="group" class="form-control">
					<option value=""> --- </option>
					{% for group in group_list %}
						<option value="{{ group.id }}" class="gr_{{group.teacher.id}}" {% if current_group|add:0 == group.id%} selected {% endif %}> {{ group }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-2">
				<input type="submit" value="New Assistance" class="btn btn-info" />
			</div>
		</div>
	</form>

	<br/>
	{% include "assistances/assistances_form.html"%}

	<br/>
	{% include "assistances/assistances_list.html"%}

	<script type="text/javascript">
		$('#date').datepicker({dateFormat: 'dd-mm-yy'});

		$('#date').change(function() {
			var url = "/studio/assistances/"+$('#date').val()+"/";    
			$(location).attr('href', url);
		});

		$('#teacher').change(function(e){
			set_select_group();
			$('#group option:eq(0)').prop('selected', true);
		});
	
		function set_select_group()
		{
			id = ".gr_" + $('#teacher option:selected').val();
			if (id == ".gr_")
				$('option[class^="gr_"]').show();
			else
			{
				$('option[class^="gr_"]').hide();
				$(id).show();
			}
		}
	
		set_select_group();
	</script>
{% endblock %}
