{% extends "base.html" %}

{% load i18n apptags static %}

{% block content %}
	<br/>
	<form method="post" action="{% url "assistances_baja" %}" name="assistances_baja" id="assistances_baja" class="form-inline">
		{% csrf_token %}
		<div class="panel panel-danger">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-4">
						<strong> Periodo: {{ini_date|date:"d-m-Y"}} - {{end_date|date:"d-m-Y"}} </strong>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<strong>Registros: {{enrolment_list|length}} </strong>
					</div>
					<div class="col-md-3 col-md-offset-1 text-right">
						<input type="submit" class="btn btn-danger" value="Dar de baja" onclick="return confirm('Esta seguro de que desea realizar las bajas?')"/> 
					</div>
				</div>
			</div>
			<div class="panel-body">
				{% if enrolment_list %}
					<div class="text-right">
					</div>
					<table class="table table-hover">
						<thead>
							<tr> <th><input type="checkbox" name="enrol" id="enrol" /></th><th>Codigo</th> <th>Nombre</th> <th>Grupo</th> <th>Teléfono</th> <th>Importe pendiente</th></tr>
						</thead>
						<tbody>
							{% for st in enrolment_list %}
								<tr>
									<td><input type="checkbox" name="enrol_{{st.id}}" id="enrol_{{st.id}}" /></td>
									<td>{{ st.student.code }}</td>
									<td>{{ st.student.name }}</td>
									<td>{{ st.group }}</td>
									<td>{{ st.student.phone }}</td>
									<td class="text-center">{{ st.price }} €</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No enrolment are available.</p>
				{%	endif %}
			</div>
		</div>
	</form>

	<script type="text/javascript">
		$("#enrol").change(function(){
			if ($(this).is(':checked'))
				$('input[id^="enrol_"]').attr('checked', true);
			else
				$('input[id^="enrol_"]').attr('checked', false);
		});
	</script>
{% endblock %}
