{% load i18n static %}

<div class="row bg-warning"> 
	<div class="col"> <a class="" href="#"><img src="{%static "images/logo_5db.png"%}" alt="logo" width="60"/></a> </div>
	<div class="col text-center {%if "index" in request.path%}active{%endif%}" style="padding-top:10px"> 
		<a class="pwa-menu" aria-current="page" href="{% url "pwa-index" %}"> Inicio</a> </div>
	<div class="col text-center {%if "payments" in request.path%}active{%endif%}" style="padding-top:10px"> 
		<a class="pwa-menu" aria-current="page" href="{% url "pwa-payments" %}"> Pagos</a> </div>
	<div class="col text-center {%if "assistances" in request.path%}active{%endif%}" style="padding-top:10px"> 
		<a class="pwa-menu" href="{% url "pwa-assistances" %}"> Asistencias</a> </div>
	<div class="col text-end" style="padding-top:10px"> <a href="{% url "pwa-logout" %}"><i class="fas fa-sign-out-alt"></i> </a></div>
</div>

{%comment%}
<nav class="navbar navbar-expand-lg sticky-top bg-warning">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="{%static "images/logo_5db.png"%}" alt="logo" width="60"/></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link active" aria-current="page" href="#">Pagos</a>
				<a class="nav-link" href="#">Asistencias</a>
			</div>
		</div>
	</div>
</nav>
{%endcomment%}
