{% extends "pwa/base.html" %}
{% load i18n %}

{% block content %}
	<div class="card" style="margin-top:10px">
		<div class="card-header bg-secondary text-white text-center"> Pagos del alumno/a <strong>{{student.name}}</strong> </div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Mes pagado</th>
						{#<th scope="col">Fecha de inicio del pago</th>#}
						{#<th scope="col">Fecha de caducudad</th>#}
						<th scope="col">Importe</th>
					</tr>
				</thead>

				<tbody>
				{% for pay in payment_list %}
					<tr>
						<td>{{pay.pay_date|date:"M-Y"}}</td>
						{#<td>{{pay.pay_date}}</td>#}
						{#<td>{{pay.expire_date|date:"d-m-Y"}}</td>#}
						<td>{{pay.amount}} €</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
