{% extends "base.html" %}
{% load i18n champ_tags %}

{% block content %}
    {#<div class="row toolbar-search p-2 m-0">{% include "champs/champs-search.html" %} </div>#}

    <div class="row">
        <div class="col-2 col-md-offset-10"> 
            <button type="button" class="btn btn-sm btn-info ark new w-100" data-url="{%url "champs-form"%}" 
                data-target-modal="common-modal"> <i class="fas fa-plus"></i> {% trans 'Nuevo Campeonato' %}</button>
        </div>
    </div>
    <br/>

    <div id="emp-list" class="ml-list">{% include "champs/champs-list.html" %}</div>
    {% include "common-modal.html" %}
{% endblock %}
