{% load i18n %}

<div class="panel panel-danger">
    <div class="panel-heading"><strong>{% trans "Quitar grupo" %}</strong></div>
    <div class="panel-body">
        <p>{% blocktrans with name=group.get_full_name %}¿Quieres quitar el grupo "{{ name }}" de este campeonato?{% endblocktrans %}</p>
    </div>
    <div class="panel-footer text-right">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{% trans "Cancelar" %}</button>
        <button type="button"
                class="btn btn-sm btn-danger ark"
                data-url="{% url "delete-champ-group" %}"
                data-target="champ-detail-content"
                data-dismiss="modal"
                data-champ_id="{{ champ.id }}"
                data-group_id="{{ group.id }}">
            {% trans "Quitar" %}
        </button>
    </div>
</div>
