{% load i18n %}

<div class="panel panel-success">
    <div class="panel-heading"><strong>{% trans "Añadir pago de acompañante" %}</strong></div>
    <div class="panel-body">
        <p><strong>{{ companion.full_name }}</strong></p>
        <div class="form-group">
            <label for="champ-companion-payment-amount">{% trans "Importe" %}</label>
            <input type="number" step="0.01" min="0.01" id="champ-companion-payment-amount" class="form-control champ-companion-payment-required" required>
            <span id="champ-companion-payment-amount__msg"></span>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-6 text-center"><button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">{% trans "Cancelar" %}</button></div>
            <div class="col-sm-6 text-center">
                <button type="button"
                        id="add-champ-companion-payment-btn"
                        class="btn btn-sm btn-success ark-validate"
                        data-url="{% url "add-champ-companion-payment" %}"
                        data-target="champ-detail-content"
                        data-modal="common-modal"
                        data-validate="champ-companion-payment-required"
                        data-champ_id="{{ champ.id }}"
                        data-companion_id="{{ companion.id }}">
                    {% trans "Guardar pago" %}
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#add-champ-companion-payment-btn').on('click', function() {
        $(this).data('amount', $('#champ-companion-payment-amount').val());
    });
</script>
