<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid col-md-12 col-md-offset-2">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Inicio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Noticias</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">La Escuela <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Latino</a></li>
            <li><a href="#">Urbano</a></li>
            <li><a href="#">Infantil</a></li>
            <li class="divider"></li>
				<li class="dropdown-header">Grupos de competición</li>
            <li><a href="#">FFCrew</a></li>
				<li><a href="#">DBCrew</a></li>

          </ul>
        </li>
		  <li class=""><a href="#">Horarios</a></li>
        <li class=""><a href="#">Galería</a></li>
        <li class=""><a href="#">Contacto</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
