{% extends "base.html" %}

{% block title %}{{ page_title }} | DSM{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3" style="margin-top:30px">
  <h1>{{ page_title }}</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}<p class="help-block">{{ error }}</p>{% endfor %}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Guardar evento</button>
    <a class="btn btn-default" href="{% url 'events:month' %}">Cancelar</a>
  </form>
</div>
{% endblock %}
